:root {
  --background-grey: #ffffff; /* FAFAFA */
  --text-grey: #555;
  --link-color: rgb(243, 243, 243);
  --project-grid: #636e72;
  --hover-grid: #525c65;

}
html {
  font-family: 'Poppins', sans-serif;;
  line-height: 1.5em;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  margin: 0;
}
#top-bar {
height: 90px;
}
#logo-container {
height: 80px;
width:min-content;
}
#logo-container > a {
height: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
}
#logo{
  float: left;
  height: 8vw;
}
main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y:auto;
  z-index: -1
}
h1 {
  font-size: 3em;
  font-family: "Aldrich", sans-serif;
  text-align: center;
  margin: none;
}
h2 {
  color: var(--background-grey);
  font-size: 2em;
  padding: 0 10px 0 10px;
  line-height: 1.2em;
}
p {
  color: var(--text-grey);
  line-height: 1.5em;
}
#links {
margin: 0 auto;
position: fixed;
top: 2vw;
right: 2vw;
z-index: 5;
height:8vw;
}
#links a {
  padding: 1vw 1vw;
  color: var(--link-color);
  text-decoration: none;
  text-shadow: 1px 1px #000;
}
a {
  color: var(--link-color);
}
.welcome-grid {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 4fr repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.welcome-text {
  grid-column: 2;
  grid-row: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-welcome-text {
  grid-column: 3 / span 3;
  grid-row: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome-title h1 {
  line-height: 1.2em;
}
#welcome-subtitle {
  text-align: center;
  line-height: 1em;
}
.welcome-image {
  grid-column: 4 / span 7;
  grid-row: 1 / span 3; 
  overflow: hidden;
}
.welcome-image > img {
  float: right;
  min-width:100%;
  min-height: 100vh;
}
#project-container {
  margin-top: 15px;
  margin-bottom: 12vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.project-grid {
  margin: 15px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.project-tile { 
  margin: 1.5vh;
  padding: 1vh 0 1vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--project-grid);
  overflow:hidden;
}
.project-tile h2 {
font-size: 1em;
}
.project-tile:hover {
  background-color: var(--hover-grid);
}
#Salesforce-Trailhead {
  grid-column: 4 / span 5;
  grid-row: 1; 
}
#Front-End-Web-Development {
  grid-column: 10 / span 5;
  grid-row: 1; 
}
#Databases {
  grid-column: 16 / span 5;
  grid-row: 1; 
}
#graphic-design {
  grid-column: 4 / span 5;
  grid-row: 2;  }
  
#Project-Management {
  grid-column: 10 / span 5;
  grid-row: 2; 
}
#Swift {
  grid-column: 16 / span 5;
  grid-row: 2; 
}
.inset-portfolio {
  margin-top: 80px;
  margin-bottom: 12vh;
  display: flex;
  align-content: center;
  justify-content:center;
  grid-column: 4 / span 7;
  grid-row: 1 / span 3; 
  min-height: 75vh;
  width: 50vw; 
  border: #aaa 5px solid;
  overflow:hidden;
}
.graphic-design-example {  
  max-height: 40vw;
  max-width: 40vw;
  overflow: hidden;
  margin:auto;
}
.graphic-design-example > img {
height:auto;
width:auto;
max-height: 100%;
max-width: 100%;
}
.graphics-grid {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#Jo5 {
  grid-column:1;
  grid-row:1;
}
#NoYesHaifley {
  grid-column:1;
  grid-row:2;
}
#database-skills {
  min-width: 35vw;
  line-height: 1em;
}
#database-skills h1 {
  line-height: 1em;
}
.footer, .footer p {
  position:fixed;
  bottom: 0;
  width: 100vw;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  color: #aaa;
  height: 10vh;
  max-height: 200px;
  background: #000;

}
/* tablet landscape & portrait */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    h1 {
      font-size: 2.2em;
    }
  .project-tile h2 {
    font-size: 1em;
    }
  }
/* large phone landscape & portrait */
  @media only screen 
  and (min-device-width : 414px) 
  and (max-device-width : 736px) {
    h1 {
      font-size: 1.7em;
    }
  
  .project-tile h2 {
    font-size: 1em;
    }
  }
/* small phone landscape & portrait */
  @media only screen and (max-device-width: 667px) {
  #header {
    height: 25%;
  }
  #logo {
    float: left;
    height: 15vw;
  }
  h1 {
    font-size: 3.25em;
  }
  h2 {
      font-size: 2.5em;
  }
  p {
    font-size: 2em;
  }  
  #links ul li {
    margin: 1vw;
    padding: 2vw 0 0 1vw;
  }
  #links ul li a {
    padding: 0 1vw 0 0;
    font-size: 2em;
  }
  .project-tile {
    margin: 1vw; } 
  .project-tile h2 {
    font-size: 1em;
    }
  }

  /* ultra small window */
  @media only screen and (max-device-width: 415px) {
  #header {
    height: 25%;
  }
  #logo {
    float: left;
    height: 15vw;
  }
  h1 {
    font-size: 3.25em;
  }
  h2 {
      font-size: 2.5em;
  }
  p {
    font-size: 2em;
  }  
  #links ul li {
    margin: 1vw;
    padding: 2vw 0 0 1vw;
  }
  #links ul li a {
    padding: 0 1vw 0 0;
    font-size: 2em;
  }
  .project-tile {
    margin: 1vw; } 
  .project-tile h2 {
    font-size: 1em;
    }
    .welcome-grid {
      height: 50vh;
    }
    #welcome-image img {
      display:none;
    }
    #welcome-text {
    grid-column: 2 / span 7;
    }
  }
}